/* ===========================
   Общие стили для иконок
=========================== */
.icon-button {
    display: inline-flex;
    align-items: center;
    background: none;
    border: none;
    color: var(--muted-text);
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    font-size: 18px;
}

.icon-button svg {
    width: 30px;
    height: 30px;
    fill: var(--muted-text);
    transition: fill 0.3s ease-in-out;
    margin-right: 6px;
}

.icon-button:hover {
    color: #ffffff;
}

.icon-button:hover svg {
    fill: var(--primary-color);
}
