/* ============================= */
/*        Post Page Styles     */
/* ============================= */
.post-page {
    max-width: var(--container-max-width);
    margin: 40px auto;
    padding: var(--padding-default);
    background: var(--secondary-color);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    position: relative;
}

.post-page-image {
    width: calc(100% + 120px);
    max-height: 400px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
    margin: -60px -60px 0 -60px;
}

.post-page-image-url {
    width: calc(100% - 24px);
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #55555b;
    border-radius: 8px;
    background-color: #3d3d42;
    color: var(--text-color);
    font-size: 14px;
}

.post-page-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 16px;
}

.post-page-title {
    font-size: 67px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 0.9;
    color: var(--primary-color);
    margin: 70px 0 20px;
}

.post-page-title-input {
    width: calc(100% - 24px);
    padding: 10px;
    margin-bottom: 8px;
    border: 1px solid #55555b;
    border-radius: 8px;
    background-color: #3d3d42;
    color: var(--text-color);
    font-size: 20px;
    font-weight: bold;
}

.post-page-date {
    font-size: 14px;
    color: var(--muted-text);
    margin: 12px 0;
}

.post-page-actions {
    display: flex;
    gap: 12px;
}

.post-page-actions a {
    text-decoration: none;
    color: var(--muted-text);
    font-size: 14px;
    font-weight: 500;
    transition: color 0.3s;
}

.post-page-actions a:hover {
    color: #ffffff;
}

.post-page-content {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 24px;
    line-height: 1.6;
    color: #d0d0e0;
    margin-bottom: 45px;
}

.post-page-content-input {
    width: calc(100% - 24px);
    min-height: 50px;
    padding: 10px;
    border: 1px solid #55555b;
    border-radius: 8px;
    background-color: #3d3d42;
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.6;
    resize: none;
    overflow: hidden;
}

.post-page-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 24px;
}

.post-page-tags-input {
    width: calc(100% - 24px);
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #55555b;
    border-radius: 8px;
    background-color: #3d3d42;
    color: var(--text-color);
    font-size: 14px;
    margin-top: 30px;
}

.post-page-tag {
    background: #44444a;
    color: var(--text-color);
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 14px;
}

.post-page-action-btn {
    background: none;
    border: none;
    color: #b0b0b3;
    font-size: 14px;
    cursor: pointer;
    padding: 0;
    margin-right: 8px;
    transition: color 0.3s;
    text-decoration: underline;
}

.post-page-action-btn:hover {
    color: #ffffff;
}
